<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Calibration" type="EyeTracking.App.Configuration, EyeTracking.App"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!-- Time values in miliseconds -->
  <!--
    Calibration Methods:
      1. Naive (default, fast and good quality)
      2. Center
      3. Proportional
      4. Approx (not implemented!)
      5. Separated
  -->
  <!--<Calibration
  SLOW: waitTime="500" moveTime="1100" skipBefore="100" skipAfter="100"
  FAST: waitTime="2000" moveTime="1" skipBefore="700" skipAfter="300"-->
  <Calibration
    waitTime="1600" moveTime="1" skipBefore="200" skipAfter="200"
    markerSize="48" randomOrder="false" previewMarkers="true" calibrationMethod="Naive"
    cameraId="0" cameraW="352" cameraH="288">
    <testPoints>
      <!--Zestaw 14 pkt - mgr-->
      
      <point id="1" x="0.5" y="0.1"/>
      <point id="2" x="0.3" y="0.3"/>
      <point id="3" x="0.1" y="0.1"/>
      <point id="4" x="0.1" y="0.5"/>
      <point id="5" x="0.1" y="0.9"/>
      <point id="6" x="0.3" y="0.7"/>
      <point id="7" x="0.5" y="0.9"/>
      <point id="8" x="0.7" y="0.7"/>
      <point id="9" x="0.9" y="0.9"/>
      <point id="10" x="0.9" y="0.5"/>
      <point id="11" x="0.9" y="0.1"/>
      <point id="12" x="0.7" y="0.3"/>
      <point id="14" x="0.5" y="0.5"/>

      <!-- Zestaw 9pkt - mgr -->
      <!--<point id="1" x="0.1" y="0.1"/>
      <point id="2" x="0.1" y="0.5"/>
      <point id="3" x="0.1" y="0.9"/>
      <point id="4" x="0.5" y="0.1"/>
      <point id="5" x="0.5" y="0.5"/>
      <point id="6" x="0.5" y="0.9"/>
      <point id="7" x="0.9" y="0.1"/>
      <point id="8" x="0.9" y="0.5"/>
      <point id="9" x="0.9" y="0.9"/>-->

      <!-- Zestaw 16pkt - mgr -->
      <!--<point id="1" x="0.09375" y="0.09375"/>
      <point id="2" x="0.34375" y="0.15625"/>
      <point id="3" x="0.65625" y="0.03125"/>
      <point id="4" x="0.96875" y="0.21875"/>
      <point id="5" x="0.90625" y="0.46875"/>
      <point id="6" x="0.59375" y="0.28125"/>
      <point id="7" x="0.40625" y="0.40625"/>
      <point id="8" x="0.15625" y="0.34375"/>
      <point id="9" x="0.03125" y="0.59375"/>
      <point id="10" x="0.28125" y="0.53125"/>
      <point id="11" x="0.53125" y="0.65625"/>
      <point id="12" x="0.78125" y="0.71875"/>
      <point id="13" x="0.84375" y="0.84375"/>
      <point id="14" x="0.71875" y="0.96875"/>
      <point id="15" x="0.46875" y="0.78125"/>
      <point id="16" x="0.21875" y="0.90625"/>-->

      <!-- Punkty testowe do artykułu - walidacyjne + treningowe przeplot -->
      <!--<point id="1" x="0.5" y="0.5"/>
      <point id="2" x="0.8375" y="0.1625"/>
      <point id="3" x="0.1625" y="0.3875"/>
      <point id="4" x="0.5" y="0.9500000000000001"/>
      <point id="5" x="0.1625" y="0.1625"/>
      <point id="6" x="0.3875" y="0.8375"/>
      <point id="7" x="0.275" y="0.7250000000000001"/>
      <point id="8" x="0.1625" y="0.6125"/>
      <point id="9" x="0.7250000000000001" y="0.7250000000000001"/>
      <point id="10" x="0.3875" y="0.1625"/>
      <point id="11" x="0.05" y="0.9500000000000001"/>
      <point id="12" x="0.8375" y="0.6125"/>
      <point id="13" x="0.05" y="0.05"/>
      <point id="14" x="0.6125" y="0.3875"/>
      <point id="15" x="0.05" y="0.5"/>
      <point id="16" x="0.6125" y="0.8375"/>
      <point id="17" x="0.9500000000000001" y="0.05"/>
      <point id="18" x="0.3875" y="0.6125"/>
      <point id="19" x="0.9500000000000001" y="0.9500000000000001"/>
      <point id="20" x="0.6125" y="0.1625"/>
      <point id="21" x="0.7250000000000001" y="0.275"/>
      <point id="22" x="0.8375" y="0.3875"/>
      <point id="23" x="0.1625" y="0.8375"/>
      <point id="24" x="0.5" y="0.05"/>
      <point id="25" x="0.8375" y="0.8375"/>
      <point id="26" x="0.275" y="0.275"/>
      <point id="27" x="0.6125" y="0.6125"/>
      <point id="28" x="0.9500000000000001" y="0.5"/>
      <point id="29" x="0.3875" y="0.3875"/>-->

      <!-- Zestaw treningowy -->
      <!--<point id="1" x="0.05" y="0.05"/>
      <point id="2" x="0.7250000000000001" y="0.275"/>
      <point id="3" x="0.5" y="0.05"/>
      <point id="4" x="0.05" y="0.5"/>
      <point id="5" x="0.275" y="0.7250000000000001"/>
      <point id="6" x="0.5" y="0.9500000000000001"/>
      <point id="7" x="0.9500000000000001" y="0.5"/>
      <point id="8" x="0.275" y="0.275"/>
      <point id="9" x="0.9500000000000001" y="0.05"/>
      <point id="10" x="0.7250000000000001" y="0.7250000000000001"/>
      <point id="11" x="0.05" y="0.9500000000000001"/>
      <point id="12" x="0.5" y="0.5"/>
      <point id="13" x="0.9500000000000001" y="0.9500000000000001"/>-->

      <!-- Zestaw walidacyjny -->
      <!--<point id="1" x="0.1625" y="0.1625"/>
      <point id="2" x="0.8375" y="0.1625"/>
      <point id="3" x="0.1625" y="0.3875"/>
      <point id="4" x="0.6125" y="0.1625"/>
      <point id="5" x="0.1625" y="0.6125"/>
      <point id="6" x="0.3875" y="0.1625"/>
      <point id="7" x="0.6125" y="0.6125"/>
      <point id="8" x="0.1625" y="0.8375"/>
      <point id="9" x="0.3875" y="0.3875"/>
      <point id="10" x="0.8375" y="0.6125"/>
      <point id="11" x="0.3875" y="0.8375"/>
      <point id="12" x="0.6125" y="0.3875"/>
      <point id="13" x="0.8375" y="0.8375"/>
      <point id="14" x="0.3875" y="0.6125"/>
      <point id="15" x="0.8375" y="0.3875"/>
      <point id="16" x="0.6125" y="0.8375"/>-->


      <!--<point id="1" x="0.3875" y="0.6125"/>
      <point id="2" x="0.5" y="0.5"/>
      <point id="3" x="0.3875" y="0.6125"/>-->
    </testPoints>
    <validationPoints>
      <point id="1" x="0.2" y="0.2"/>
      <point id="2" x="0.2" y="0.8"/>
      <point id="3" x="0.3" y="0.5"/>
      <point id="4" x="0.5" y="0.3"/>
      <point id="5" x="0.5" y="0.7"/>
      <point id="6" x="0.7" y="0.5"/>
      <point id="7" x="0.8" y="0.2"/>
      <point id="8" x="0.8" y="0.8"/>
    </validationPoints>
  </Calibration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>